@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("New Customer","CustomerForm",null,new {@class="btn btn-primary"})

<table id="customers" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Customers</th>
            <th scope="col">Membership Type</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
           var table= $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='customers/edit/" + customer.id+"'>" + data + "</a>";
                        }
                    },

                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button data-customer-id=" + data + " class='btn btn-link js-delete'>Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete",function () {
                var button = $(this);
                bootbox.confirm("Are You Sure To Delete The Customer ?", function (result) {
                    if (result)
                    {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    } 
                });
            });
        });
    </script>
}

