@model dynamic
@{
    ViewBag.Title = "New";
}

<h2>New</h2>
<form class="col-md-3">
    <div class="mb-3">
        <label class="form-label">Customer</label>
        <input type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Movie</label>
        <input type="text" class="form-control" />
    </div>
    <button class="btn btn-primary">Submit</button>
</form>


