@model dynamic
@{
    ViewBag.Title = "New";
}

<h2>New</h2>
<form class="col-md-3">
    <div class="mb-3">
        <label class="form-label">Customer</label>
        <input id="customer" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Movie</label>
        <input id="movie" type="text" class="form-control" />
    </div>
    <ul id="movies" class="list-group">
    </ul>       
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
<script>
    
    $(document).ready(function () {
      
        var vm = {
            movieIds:[]
        };

        var customers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/customers?query=%QUERY',
                wildcard: '%QUERY'
            }
        });
       
        $('#customer').typeahead({
            minLength:0,
            highlight: true
        },
        {
            name: 'customers',
            display: 'name',
            source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;

            });

        var movies = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/movies?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#movie').typeahead({
            minLength: 3,
            highlight: true
        },
            {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li>" + movie.name + "</li>");
                $("#movie").typeahead("val","")
                vm.movieIds.push(movie.id);
                
            });

        
    });
</script>
}


